<div class="modal fade" tabindex="-1" role="dialog" id="not-success-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background-color: lightcoral;">
                <div class="form-group">
                    <label>Incorrect! You are too far from the price</label>
                </div> 
            </div>
        </div>
    </div>
</div>