<div class="modal fade" tabindex="-1" role="dialog" id="success-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background-color: lightgreen;">
                <div class="form-group">
                    <label>Great job!</label>
                </div> 
            </div>
        </div>
    </div>
</div>